@import "style";
// Custom dots carousel
.owl-theme .owl-dots .owl-dot.active span {
  background: #59c8e0;
}

.owl-theme .owl-dots .owl-dot:hover span {
  background: #59c8e0;
}

.owl-theme .owl-dots .owl-dot.active {
  position: relative;
}

.owl-theme .owl-dots .owl-dot.active::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  border: 1px solid #59c8e0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.owl-theme .owl-dots .owl-dot span {
  border: 1px solid #d3d7de;
  background-color: transparent;
}

//------------------------------------------Carousel------------------------------------------
.slider__item {
  background-image: url(../../image/Moc-Flowers/Carousel/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  width: 100%;
  height: 440px;
  display: flex;

  &-title {
    font-size: 46px;
    line-height: 60px;
    font-weight: 700;
    color: $ink-teal;
    margin-bottom: 17px;
  }
  &-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: $ink-ligh;
  }
}
.owl-theme .owl-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
}
//------------------------------------------Our Products------------------------------------------
.our-products {
  padding: 38px 0 60px;

  &__description {
    margin-top: 24px;
    margin-bottom: 40px;
  }
  &__title,
  &__description {
    text-align: center;
  }
  &__item {
    position: relative;
    margin-bottom: 32px;
    transition: all linear 0.2s;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 1px;
      background: #0e0e0e;
      opacity: 0.4;
      border-radius: 4px;
    }

    &:hover {
      transform: scale(1.1);
    }
    &-image {
      img {
        width: 100%;
        height: 100%;
        border-radius: 4px;
      }
    }
    &-info {
      position: absolute;
      width: 70%;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &-name {
        font-size: 24px;
        line-height: 36px;
        font-weight: 700;
        color: $ink-lighter;
        text-align: center;
        margin-bottom: 16px;
      }
      &-btn {
        transition: all linear 0.2s;
        position: relative;
        z-index: 1;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          right: 100%;
          top: 0;
          bottom: 0;
          opacity: 0;
          background-color: $primary-teal;
          transition: 0.5s all ease;
          border-radius: 30px;
        }
        &:hover::before {
          left: 0;
          right: 0;
          opacity: 1;
          z-index: -1;
        }
        &:hover {
          color: $ink-lighter;
          border: none;
        }
        img {
          margin-left: 16px;
        }
      }
    }
  }
}
//------------------------------------------Feedback------------------------------------------
.feedback {
  padding: 60px 0;

  &__title {
    text-align: center;
    margin-bottom: 40px;
  }

  &__carousel {
    position: relative;

  }
}
//------------------------------------------Why choose------------------------------------------
.why-choose {
  background-image: url(../../image/Moc-Flowers/Why-choose/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 40px 0 72px;

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #ededef;
    opacity: 0.8;
  }

  &__title {
    text-align: center;
    margin-bottom: 40px;
    z-index: 10;
    position: relative;
  }

  &__item {
    padding: 32px 24px;
    text-align: center;
    background-color: $ink-lighter;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    transform: scale(0.8);
    &-icon {
      img {
        width: 46px;
        height: 46px;
      }
    }
    &-caption {
      margin-top: 26px;
      margin-bottom: 16px;
      font-size: 18px;
      line-height: 26px;
      font-weight: 700;
      color: $ink-basic;
    }

    &-description {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      color: $ink-ligh;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  .owl-carousel .owl-stage {
    display: flex;
    align-items: center;
  }

  .owl-theme .owl-dots {
    position: absolute;
    bottom: -44px;
    width: 100%;
    margin: 0px auto;
    display: inline-block;
  }
  .owl-item.active.center {
    transform: scale(1.2);
    z-index: 10;
  }

  .owl-item.active.center .item {
    width: 140%;
    transform: translateX(-14%);
  }

  .owl-item.active.center
    .item
    .why-choose__item
    .why-choose__item-description {
    overflow-y: auto;
  }
  .owl-item.active.center
    .item
    .why-choose__item
    .why-choose__item-description::-webkit-scrollbar {
    width: 5px;
  }
  .owl-item.active.center
    .item
    .why-choose__item
    .why-choose__item-description::-webkit-scrollbar-track {
    background-color: #cecece9d;
  }

  .owl-item.active.center
    .item
    .why-choose__item
    .why-choose__item-description::-webkit-scrollbar-thumb {
    background-color: #59c8e0;
  }
}

//------------------------------------------Partner------------------------------------------
.partner {
  padding: 0 0 60px;
  &__title {
    text-align: center;
    margin-bottom: 40px;
  }

  &__image {
    cursor: pointer;
    transition: all ease 0.2s;

    &:hover {
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
      transform: scale(1.1);
    }
  }

  &__carousel {
    position: relative;

    &-pre {
      position: absolute;
      cursor: pointer;
      top: 50%;
      left: -2%;
      transform: translateY(-50%);
      z-index: 10;
    }
    &-next {
      position: absolute;
      cursor: pointer;
      top: 50%;
      right: -2%;
      transform: translateY(-50%);
      z-index: 10;
    }
  }
}

//------------------------------------------Responsive------------------------------------------
$res_375: "only screen and (min-width: 375px) and (max-width: 424px)";
$res_425: "only screen and (min-width: 425px) and (max-width: 575px)";
$res_576: "only screen and (min-width: 576px) and (max-width: 767px)";
$res_768: "only screen and (min-width: 768px) and (max-width: 991px)";
$res_992: "only screen and (min-width: 992px) and (max-width: 1023px)";
$res_1024: "only screen and (min-width: 1024px) and (max-width: 1199px)";

@mixin responsive_375() {
  @media #{$res_425} {
    @content;
  }
}
@mixin responsive_425() {
  @media #{$res_425} {
    @content;
  }
}
@mixin responsive_576() {
  @media #{$res_576} {
    @content;
  }
}
@mixin responsive_768() {
  @media #{$res_768} {
    @content;
  }
}
@mixin responsive_992() {
  @media #{$res_992} {
    @content;
  }
}
@mixin responsive_1024() {
  @media #{$res_1024} {
    @content;
  }
}

// màn hình 425px đến 575px
@include responsive_425 {
    .our-products__description {
    margin-top: 12px;
    margin-bottom: 20px;
  }
}

// màn hình 576px đến 767px
@include responsive_576 {
  .our-products__description {
    margin-top: 12px;
    margin-bottom: 20px;
  }

}

// màn hình 768px đến 991px
@include responsive_768 {

}

// màn hình 992px đến 1023px
@include responsive_992 {

}

// màn hình 1024px đến 1199px
@include responsive_1024 {

}
